{% extends "AppBundle::base.html.twig" %}

{% block body %}

    {{ form_start(registrationForm) }}
        {{ form_errors(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword.first, {
            'label' : 'Password'
        }) }}
        {{ form_row(registrationForm.plainPassword.second, {
            'label' : 'Confirm Password'
        }) }}
    <button type="submit" class="btn btn-success" formnovalidate>Login <span class="fa fa-lock"></span> </button>
    {{ form_end(registrationForm) }}

{% endblock %}